# https://hub.docker.com/r/library/python/tags/
image: python:3.6-stretch

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

cache:
  paths:
    - .cache/pip
    - venv/

before_script:
  - python -V               # Print out python version for debugging
  - pip install virtualenv
  - virtualenv venv
  - source venv/bin/activate
  - pip install -U --pre aquests rs4 atila sqlphile dnn tfserver
  - python setup.py build install
  - pip install -Ur tests/requirements.txt

test:
  script:
  - ./test-all.sh

