psycopg2-binary
pytest
pytest-ordering
codecov
pytest-cov
flask
websocket_client
jinja2
protobuf
redis
pymongo<4.0
psycopg2-binary
aiofiles
asgiref
httpbin
starlette
wsproto
jsonrpclib-pelix
markupsafe
aioquic==0.9.11; python_version>="3.6"
matplotlib
pillow
opencv-python-headless
scikit-image
django-admin-numeric-filter
django-admin-rangefilter
numpy
scikit-learn
future
networkx
hyperopt
protobuf
dill
webrtcvad
exif
fdet
torchvision
torch
twine
keyrings.alt