# pytest
pytest
pytest-ordering
codecov
pytest-cov
pytest-asyncio

# test deps
websockets
websocket_client
jinja2
aiofiles
asgiref
httpbin
wsproto
jsonrpclib-pelix
markupsafe
matplotlib
scikit-learn
pillow
opencv-python-headless<4.7.0
opencv-python<4.7.0
scikit-image
django-admin-numeric-filter
django-admin-rangefilter
torchvision
torch
aioquic<0.10; python_version>="3.6"
protobuf>=3.20
