atila
atila-vue
dnn
pytest
delune
pytest-ordering
codecov
pytest-cov
flask
websocket_client
jinja2
protobuf
redis
pymongo
psycopg2-binary
aiofiles
asgiref
httpbin
starlette
wsproto
jsonrpclib-pelix
markupsafe
aioquic>=0.9; python_version>="3.6"
psycopg2cffi; python_version>="3.6"
matplotlib
pillow
opencv-python-headless
scikit-image
