# skitai libs deps
jinja2
numpy
scikit-learn
future
networkx
hyperopt
protobuf>=3.20
dill
webrtcvad
exif
fdet
psutil
requests
colorama
tqdm
setproctitle
h2>=4.0.0

tensorflow-cpu==2.3.0
keras==2.3.0

# dist tools
twine
keyrings.alt