networkx
pytest
pillow
psycopg2-binary
asgiref
markupsafe
websocket_client
django-admin-numeric-filter
fdet
aioquic==0.9.11; python_version>="3.6"
opencv-python-headless
exif
numpy
tensorflow-cpu==2.3.0
matplotlib
httpbin
future
tqdm
uvicorn
aiohttp
colorama
torchvision
asyncpg
scikit-image
redis
jsonrpclib-pelix
setproctitle
pymongo<4.0
keras==2.3.0
flask
protobuf
torch
pytest-cov
psutil
scikit-learn
wsproto
keyrings.alt
fastapi
jinja2
django
django-admin-rangefilter
webrtcvad
gunicorn
aiofiles
pytest-ordering
hyperopt
twine
starlette
codecov
h2>=4.0.0
requests
dill
atila-vue
